body{
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-family: $font-primary;
	line-height: 28px;
}
main {
	padding-top: 130px;
	@include laptop {
		padding-top: 155px;
	}

}
h1, h2, h3, h4, {
	margin-top: 0;
	color: $color-primary;
}
h1 {
	font-size: 30px;
	line-height: 34px;
	margin-bottom: 45px;
	font-weight: 300;
	@include laptop {
		font-size: 36px;
		line-height: 48px;
	}
}
h2 {
	font-size: 28px;
	font-weight: 400;
}
p {
	margin-bottom: 30px;
}

.box {
	border: 1px solid $mid-color-gray;
	min-height: 1px;
	border-radius: $border-radius;
	position: relative;
	padding: 9% 11%;
	margin-bottom: 60px;
	transition: all .3s ease;
	@include laptop {
		margin-bottom: 90px;
	}
	&--intro {
		p:last-of-type {
			    margin-bottom: 30px;
					@include laptop {
						margin-bottom: 0px;
					}
		}
	}
	&--basic-content>*:last-child {
		margin-bottom: 0px;
		color:red;
	}
	&--basic-content {
		a {
			background-color: $light-color-primary;
			display: inline-block;
			padding: 0 5px;
			border-radius: 4px;
		}
	}
	&:hover {
		// box-shadow: 2px 5px 20px 0 rgba(0,0,0,0.15);
		// transform: scale(1.03);
	}
	&__icon {
		background: $mid-color2-gray;
		border: 4px solid #FFFFFF;
		width: 64px;
		height: 64px;
		display: block;
		border-radius: 100px;
		position: absolute;
		background-repeat: no-repeat;
		@include absoluteCenter;
			top: -32px;
		@include laptop {
			left: 96px;
			margin:0;
		}
		&--connection {
			background-image: url("../images/clarin-icon-sprites.svg");
			background-position: -112px 0;
		}
		&--news {
			background-image: url("../images/clarin-icon-sprites.svg");
			background-position: -168px 0;
		}
		&--events {
			background-image: url("../images/clarin-icon-sprites.svg");
			background-position: 0 0;
		}
		&--newsletter {
			background-image: url("../images/clarin-icon-sprites.svg");
			background-position: -56px 0;
		}
		&--contact {
			background-image: url("../images/clarin-icon-sprites.svg");
			background-position: -280px 0;
		}
		&--fag {
			background-image: url("../images/clarin-icon-sprites.svg");
			background-position: -224px 0;
		}

	}
	.btn-default {
		position: absolute;
		bottom: -15px;
		@include absoluteCenter;
		@include laptop {
			left: 96px;
			margin: 0;
		}
	}
	&--small {
		.box__icon, .btn-default {
			left: 0;
			right: 0;
			margin: 0 auto;
		}
	}
}
